.config/dotnet-tools.json
.fsdocs/cache
.vs/OutLineAlgorithm/copilot-chat
.vs/OutLineAlgorithm/FileContentIndex
.vs/ProjectEvaluation
CSharp.Example
OutlineAlgorithm-1.0.0.zip
.vs
_site
*.md~
FSharp.Example/bin/Debug
FSharp.Example/bin/Release
FSharp.Example/obj/Debug
FSharp.Example/obj
OutlineAlgorithm/bin
output
*.backup
OutlineAlgorithm/obj
OutlineAlgorithm/tmp
*.fsproj~
release
tmp
OutlineAlgorithm/pack.log
